<div ng-if="show">
    <div hide-xs show-gt-xs>
        screen
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button ng-click="first()" ng-disabled="currentPage.pageNumber===1" id="list_page_first">First</md-button>
            <md-button ng-click="previous()" ng-disabled="currentPage.pageNumber===1" id="list_page_prev">Previous</md-button>
            <md-button ng-class="!page.isActive && 'md-icon-button' || 'md-fab md-mini md-primary'" ng-repeat="page in totalPages" ng-click="setPage(page)" ng-attr-id="{{'list_page_'+($index+1)}}">
                {{page.pageNumber}}
            </md-button>
            <md-button ng-click="next()" ng-disabled="currentPage.pageNumber>=totalbuttons" id="list_page_next">Next</md-button>
            <md-button ng-click="last()" ng-disabled="currentPage.pageNumber>=totalbuttons" id="list_page_last">Last</md-button>
        </section>
    </div>
    <div show-xs hide-gt-xs>
        mobile
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button flex ng-class="'md-icon-button' " ng-click="first()" ng-disabled="currentPage.pageNumber===1" id="list_page_first">
                <md-icon>first_page</md-icon>
            </md-button>
            <md-button flex ng-click="previous()" ng-class="'md-icon-button' "  ng-disabled="currentPage.pageNumber===1" id="list_page_prev">
                <md-icon>navigate_before</md-icon>
            </md-button>
            <md-button ng-class="'md-fab md-mini md-primary'" ng-attr-id="{{'list_page_'+($index+1)}}">
                {{currentPage.pageNumber}}
            </md-button>
            <md-button flex ng-click="next()" ng-class="'md-icon-button' "  ng-disabled="currentPage.pageNumber>=totalbuttons" id="list_page_next">
                <md-icon>navigate_next</md-icon>
            </md-button>
            <md-button flex ng-click="last()" ng-class="'md-icon-button' "  ng-disabled="currentPage.pageNumber>=totalbuttons" id="list_page_last">
                <md-icon>last_page</md-icon>
            </md-button>
        </section>
    </div>
</div>